@import '../../../styles/constants.less';

.past-events {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .slider-container {
        position: relative;
        width: 100%;
        // max-width: 800px;
        overflow: hidden;
    }

    .events-row {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: 100%;
    }

    .slide {
        display: flex;
        flex: 0 0 100%;
        justify-content: space-around;
    }

    .event-card {
        flex: 0 0 25%; // 4 images fit within a slide
        padding: 10px;
        text-align: center;

        img {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
    }

    .slider-indicators {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        .indicator {
            width: 12px;
            height: 12px;
            margin: 0 5px;
            border-radius: 50%;
            background: #ccc;
            border: none;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
                transform: scale(1.06);
            }

            &.active {
                background: @dark-purple;
            }
        }
    }
}
