@import '../../../styles/constants.less';

.past-events {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: @tablet) {
        display: none;
    }

    height: 200px

}

.events-row {
    display: flex;
    flex-wrap: nowrap; /* Ensures that the images stay in a single row */
    gap: 16px; /* Adjust the gap between the images */
    // overflow-x: hidden;    
}

.event-card img {
    width: 100%;
    // min-width: 150px; /* You can adjust the width as per your design */
    height: auto;
    border-radius: 8px; /* Optional: for rounded corners */
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

    // &:hover {
    //     // transform: scale(1.05);
    // }
}


.past-events {
    .events-row {
        transition: opacity 0.5s linear;
    }

    .fade-in {
        opacity: 1;
    }

    .fade-out {
        opacity: 0;
    }

    .event-card {
        transition: transform 0.5s linear;
        // &:hover {
        //     transform: scale(1.05);
        // }
    }
}