@import '../../../styles/constants.less';

.hero-section {
  
  // background: url('../../../assets/quantsoc-graphics/article-hero.svg');
  // background-size: cover;
  padding: 5% 15%;
  margin-top: 0;

  
  @media (prefers-color-scheme: dark) {
    // filter: invert(1) brightness(2000%);
    background: url('../../../assets/quantsoc-graphics/article-hero.svg'), @dark-purple;
    background-blend-mode: overlay;
    background-size: cover;
  }

  @media (prefers-color-scheme: light) {
    background: url('../../../assets/quantsoc-graphics/article-hero.svg');
    background-size: cover;
  }

  .hero-heading {
    width: 100%;
    margin-top: 3rem;
  }

    h1 {
      margin-bottom: 1.5rem;
      text-wrap: balance;
    }

    p {
      margin-bottom: 1.5rem;
      width: 100%;
      align-self: left;
    }
  
    .hero-text-container {
      width: 60%;
      background-color: light-dark(white, @black-purple) ;
      padding: 1%;
      padding-left: 3%;
      padding-bottom: 3%;
      border-radius: 10px;
      box-shadow: 0px 3px 20px light-dark(@mid-purple, @dark-purple);

      
      @media screen and (max-width: @tablet) {
        width: 100%;
        box-shadow: none;
      }
    }

    @media screen and (max-width: @tablet) {
      padding: 0 15%;
      background-image: unset;
    }

    @media screen and (max-width: @mobile) {
      padding: 0 3%;
    }
  
}


@media screen and (max-width: @tablet) {
  #article-hero-text-container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  
  
}

