@import 'styles/global.less';
@import 'styles/constants.less';

#heading {
  text-align: center;
  padding: 20px;
  font-style: italic;
  font-size: 45px;
}

.row {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 30%;
  padding: 40px;
  
  margin-left: auto;
  margin-right: auto;
  //background-color: rgb(240, 240, 240);
  font-size: 35px;

  p {
    justify-self: right;
    padding-right: 10px;
    align-self: center;
    
  }
}

.top-row {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  
  margin-left: auto;
  margin-right: auto;

  p {
    justify-self: right;
    padding-right: 10px;
    align-self: center;
    
  }
  #timer {
    justify-self: left;
  }
}

.second-row {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  
  margin-left: auto;
  margin-right: auto;

  p {
    justify-self: right;
    padding-right: 10px;
    align-self: center;
    
  }
  #timer {
    justify-self: left;
  }
}

#answer {
  font-size: 35px;
  background-color: transparent;
  color: #717171;
  font-family: Poppins;
  width: 140px;
  height: 80px;
  padding-left: 8px;
  border-radius: 3px;
  border: 2px solid @quantsoc-primary;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 30%;
}

#start-button {
  justify-self: center;
  background-color: @quantsoc-primary;
  border-radius: 6px;
  border-style: none;
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  min-width: 120px;
  height: 45px;
  font-size: 18px;
  font-weight: 300;
  margin: 2rem 0;
  &:hover {
    background-color: @quantsoc-accent-light;
  }
}