.pentominoes-card {
    border-collapse: collapse;
    background-color: white;
    height: 80px;
    display: table-row-group;
    width: 200px;
    flex-direction: 1;

}

.pentominoes-table-body {
    // width: 200px;
    // display: flex;
    // flex-direction: ;
    flex-shrink: 0;
    width: auto;
    border:1;
    // width: 150px;
    background-color: black;
}

.pentominoes-block {
    // display: flex;
    flex-shrink: 0;
    width:200px;
}

.value-grid-unit {
    width: 20px;
    height: 20px;
    background-color: black;
    border: 1px solid black; 
    margin: 0;
    padding: 0;
}

.null-grid-unit {
    width: 20px;
    height: 20px;
    background-color: purple;
    border: 1px solid black; 
    margin: 0;
    padding: 0;
}