.F {
    background-color: #9740f3;
    border-color: #9740f3;
}

.I {
    background-color: #3caea3;
    border-color: #3caea3;
}

.L {
    background-color: #f6a01a;
    border-color: #f6a01a;
}

.N {
    background-color: #ed553b;
    border-color: #ed553b;
}

.P {
    background-color: #20639b;
    border-color: #20639b;
}

.T {
    background-color: #f0a6ca;
    border-color: #f0a6ca;
}

.U {
    background-color: #8ac6d1;
    border-color: #8ac6d1;
}

.V {
    background-color: #f4d35e;
    border-color: #f4d35e;
}

.W {
    background-color: #9e2a2b;
    border-color: #9e2a2b;
}

.X {
    background-color: #5d576b;
    border-color: #5d576b;
}

.Y {
    background-color: #f7ede2;
    border-color: #f7ede2;
}

.Z {
    background-color: #2f4858;
    border-color: #2f4858;
}

