@import '../../../styles/constants.less';

.background-container {
  // width: 100vdw;
  height: 100dvh;
  background-image: url(../../../assets/quantsoc-graphics/new-hero-optimised.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  background-position-y: bottom;
  overflow-x:hidden;
  background-attachment: fixed;

  @media screen and (max-width: @tablet) {
    background-attachment:unset;
  }
}

.quantsoc-title-container {
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
  justify-content: center; /* Ensures horizontal alignment */
}

#landing-title {
  font-size: 8vw; /* Scales text to 10% of the screen width */
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center; /* Ensures the text is centered */
  min-width: 4vw;

  @media screen and (max-width:@mobile) {
    display: none;
  }
  @media screen and (max-width:@tablet) {
    font-size: 65px;
  }
}

#quantsoc-logo {
  width: 8vw;
  min-width: 100px;

  @media screen and (max-width:@mobile) {
    margin-bottom: 1rem;
  }
}


.hero-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.fadein-elements {
  opacity: 0;
  transition: opacity 3s ease-in-out;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.fadein-elements.fade-in {
  opacity: 1;
}

.button-container {
  margin-top: 0vw;
  display: flex;
  column-gap: 10%;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

.hero-button {
  margin-top: 1.5rem;
  width: 300px;
  padding: 13px 30px;
  border-radius: 10px;
  border: solid white 3px;
  color: white;
  font-size: 1.5rem;
  background-color: transparent;
  font-family: Poppins, sans-serif;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
  
  transition: background-color 200ms linear, color 200ms linear, border 200ms linear;

  &:hover {
    color: white;
    border: solid @dark-purple 3px;
    background-color: @dark-purple;
  }
}

#join-button {
  border: solid @mid-purple 3px;
  color: white;
  background-color: @mid-purple;

  transition: background-color 500ms linear, color 500ms linear, border 500ms linear;

  &:hover {
    color: white;
    border: solid @dark-purple 3px;
    background-color: @dark-purple;
  }
}


.socials-container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%); // Center horizontally
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
  height: 100%;

  > * > * {
    color: white;
    transition: color 100ms linear;
    filter: drop-shadow(4px 4px 30px 0.9);
    transition: color 300ms linear;
    width: 2rem !important;
    height: 2rem !important;

    &:hover {
      color: @dark-purple;
      cursor: pointer;
    }

   
  }

  @media screen and (max-width: @mobile) {
    column-gap: 25px;

    > * > *{
      width: 1.5rem !important;
      height: 1.5rem !important;
    }
  }

  @media screen and (max-width: @tablet) {
    column-gap: 25px;
    position: relative;
    justify-content: center;
    margin-top: 2rem;

  }
    
  }