@import "styles/global.scss";
@import "styles/constants.scss";

.glb-foot {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5em;
  background-color: $dark-purple;

  .glb-foot-section {
    align-items: flex-start;
    padding: 1em;

    .glb-foot-head {
      display: flex;

      .glb-foot-head-h5 {
        font-size: 1rem;
        color: white;
      }
    }
  }

  .glb-foot-content-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.5em;

    .glb-foot-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: white;
      width: 220px;

      >a.footer-link>li {
        color: white;
        padding: 0.4em;
        padding-left: 0px;
        list-style-type: none;
      }
    }
  }

  .horizontal-eol-bar-cont {
    display: flex;
    flex-direction: row;
    align-items: center;

    >.horizontal-eol-bar {
      margin-left: 25px;
      height: 5px;
      flex-grow: 1;
      background-color: white;
    }

    .copyright-text {
      color: white;
    }
  }

}

@media (max-width: 560px) {
  .glb-foot {
    .glb-foot-content-cont {
      flex-direction: column;
      align-items: center;
    }
  }
}


// Should really be in its own element or something
.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5ch;

  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4ch;
  font-weight: 300;
}