// TODO: Rewrite with nesting

.glb-foot {
  display: flex;
  flex-direction: column;
  border: solid black 1px;
  justify-content: space-between;
  padding: 3.5em;
}

  // flex-wrap: row;
.glb-foot-section {
  border: solid lightblue 1px;
  align-items: flex-start;
  padding: 1em;
}

.glb-foot-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // border: solid green 1px;
}

.glb-foot-content > li {
  padding: 0.4em;
  padding-left: 0px;
  list-style-type: none;
}

.glb-foot-head {
  display: flex;
}

* {
  // background-color: grey;
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5ch;

  // Change back to white
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4ch;
  font-weight: 300;
}

