@import '../../../styles/constants.less';


.about-us-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15vh;
    align-items: center;
    justify-content: space-between;
    row-gap: 3rem;
}

.about-us-header {
    margin-bottom: 1.5rem;
}

.about-us-icon{
    display: inline-block;
    margin-top: -5px;
    color: @mid-purple;
    transform: scale(1.5);
    transform-origin: top left; // Adjust scaling direction
    vertical-align: top;
    margin-right: 15px;
    
}


.about-impact-section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    row-gap: 2rem;
    margin-top: 2rem;
    flex-direction: row;
    
    > * {
        text-align: left;
        font-size: 30px;
    }

    @media screen and (max-width: @tablet) {
        flex-direction: row;
    }
}


.counter-highlight-text {
    color: @mid-purple;
    font-weight: bold;
    font-size: 36px;
    cursor: default;

    // font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

    background: linear-gradient(to right, @mid-purple, @dark-purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: filter 500ms ease-in-out;
}

.about-us-left-side, .about-us-right-side{
    width: 50%;

    @media screen and (max-width: 1800px) {
        width: 100%;
    }    

}

.about-us-right-side {
    @media screen and (max-width: 1800px) {
        display: none;
    }

    font-family:Poppins;

    line-height: 80px;

    color: @mid-purple;
    font-weight: 600;
    text-align: left;
    padding-left: 80px;
    font-size: 55px;

    transition: 
    letter-spacing 500ms ease-out, 
    width 500ms ease-out, 
    font-size 500ms ease-out, 
    filter 500ms ease-out;

    width: 40%;

    cursor: default;


    border-left: 4px solid @mid-purple;

    padding-bottom: 2.5rem;
    padding-top: 2.5rem;


    #about-us-quantitative-text {
        font-size: 62px;
    }
    

    background: linear-gradient(to right, @mid-purple, @dark-purple);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: filter 500ms ease-in-out;
    

}



.impact-trailing-text {
    font-size: 22px;
}