/* Roboto and Montserrat Import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
.navbarContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #691BC0;
}

.navLogo {
    display: flex;
}

.navButton {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    background-color: #8234DA;
    color: #FFFFFF;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem auto;
}

.logoText {
    font-family: Montserrat;
    display: inline;
    padding: 2px;
    margin-top: auto;
    margin-bottom: auto;
    border: solid black 1px;
    color: white;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0.3em;
    text-align: left;
}