@import '../../styles/constants.less';

#contact-hero-section {
    // background-image: url("../../../src/assets/quantsoc-graphics/contact-hero.svg") !important;

    background: url("../../../src/assets/quantsoc-graphics/contact-hero.svg");
    background-size: cover !important;

  
    @media screen and (max-width: @tablet) {
        padding: 0 15% !important;
        background: unset !important;

      }
  
      @media screen and (max-width: @mobile) {
        padding: 0 3% !important;
      }

}