@import '../../styles/constants.less';

#contact-hero-section {
    // background-image: url("../../../src/assets/quantsoc-graphics/contact-hero.svg") !important;

    @media (prefers-color-scheme: dark) {
      // filter: invert(1) brightness(2000%);
      background: url("../../../src/assets/quantsoc-graphics/contact-hero.svg");
      // background-blend-mode:overlay;
      background-size: cover !important;
    }
  
    @media (prefers-color-scheme: light) {
      background: url("../../../src/assets/quantsoc-graphics/contact-hero.svg")  !important;
      background-size: cover !important;
    }

    @media screen and (max-width: @tablet) {
        padding: 0 15% !important;
        background: unset !important;

      }
  
      @media screen and (max-width: @mobile) {
        padding: 0 3% !important;
      }

}