@import "global.scss";

.sponsor-section {
  display: flex;
  flex-direction: column;

  .sponsor-head {
    display: flex;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;   
    flex-grow: 1;
    flex-shrink: 1;
    justify-content:space-between;
    overflow-inline: hidden;
    .sponsor-button-container {
      .sponsor-button {
        color: white;
        background-color: $darkest-purple;
        // background-color: rgba(130, 52, 218, 1);
        font-size: 1rem;
        display: box;
        padding: 10ch;
        margin-left: 300px;
        border: none;
      }
    }
    .sponsor-header {
      font-size: 2rem;
      min-width: fit-content;
      font-weight: bold;
      color: rgba(64, 21, 112, 1);
      margin-bottom: 100px;
      display: box;
    }
  }

  .sponsor-image-layout {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    .sponsor-image-cont {
      margin: 50px;
      .sponsor-image {
        max-height: 80px;
        margin: 5px; 
      }
    }
    // > .sponsor-logo {
    //   max-height: 80px;
    //   margin: 5%;
    // }
  }
}
