.sponsor-section {
  .sponsor-head {
    display: flex;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;   
    flex-grow: 1;
    flex-shrink: 1;
    justify-content:space-between;
    overflow-inline: hidden;
    
    .sponsor-button {
      color: white;
      align-self: flex-start;
      background-color: rgba(130, 52, 218, 1);
      font-size: 1rem;
      display: box;
      min-width: fit-content;
      padding: 10px;
      width: 15%;
      margin-left: 300px;
      border: none;
    }

    .sponsor-header {
      font-size: 2rem;
      min-width: fit-content;
      font-weight: bold;
      color: rgba(64, 21, 112, 1);
      margin-bottom: 100px;
      display: box;
    }
  }

  .image-layout {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    .sponsor-logo {
      max-height: 80px;
      margin: 5%;
    }
  }
}
