@import '../../../styles/constants.less';
#dropdown-button {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
  }
  
  .rotated {
    transform: rotate(90deg);
  }
  
  #most-recent-heading {
    margin-bottom: 1rem;
  }