@import '../../styles/constants.less';

.sponsor-type__header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: light-dark(@text-secondary, white);
  p {
    margin-left: 0.25rem;
    font-size: 23px;
  }

  position: relative;

  background-color: transparent;
}

.sponsor-type__header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: light-dark(#fff, @black-purple);
  padding: 0 1rem;
}

.sponsor-type__header::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  width: 90%;
  border-top: 1px solid light-dark(@text-secondary, white);
  z-index: -1;
}
