@import '../../styles/constants.less';

.games-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.games-section__header {
    margin-bottom: 1rem;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.game-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 10px;
    border-radius: 15px;
    height: 150px;
    flex: 1 1 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    height: 250px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 30px;
    transition: font-size 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease-out; /* Add this line for transitions */
    overflow: hidden;
    position: relative; /* Add this line to position .area relative to .game-box */

    &:hover {
        box-shadow: inset 0 0 20px @quantsoc-primary, 0 0 20px @quantsoc-primary;
        font-size: 40px;
        transform: scale(1.03);
    }
}

.large {
    flex: 3 1 50%;
    background-color: #4CAF50;
}

.small {
    flex: 1 1 25%;
    background-color: #2196F3;
}

.row:nth-child(even) .large {
    width: 30%;
}

.row:nth-child(even) .small {
    width: 60%;
}

@media (max-width: 768px) {
    .large, .small {
        flex: 1 1 100%;
        width: 100%;
        padding: 20%;
    }

    .games-container, .row {
        flex-direction: column;
    }
}


.mock-trading-card {
    // background: linear-gradient(130deg, @quantsoc-accent,@quantsoc-secondary);
    background: url('../../assets/quantsoc-graphics/new-mock-trading-optimised.svg');

    background: 
    url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZmxoOWZ1ejlnYmYwYnpsN3Z3ajdhNTNoNnl2N3B4MXpjNmxzdDQwdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/d1Gvd3wrtBcaMkhO/giphy.gif'), 
    url("https://i.gifer.com/KM74.gif"), 
    linear-gradient(145deg, @mid-purple ,@lightest-purple);


    background-blend-mode: overlay;
    
    background-size: cover;
    background-position: center;
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 12px @dark-purple;

    
}

.mathsprint-card {
    background-color: transparent;
    background-size: cover;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 2px 2px 12px @dark-purple;
}