@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;700&display=swap');

.ResourceSection {
  height: 772px;
  background-color: #691BC0;
}

.arrow {
  color: #d2afff;
  font-family: Roboto;
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  margin-left: 1em;
}

.text {
  color: white;
  font-family: Poppins;
  font-weight: 700;
  font-size: 2em;
  font-style: italic;
  margin-left: 90px;
}

.ResourceBlock {
  display: flexbox;
  justify-items: center;
  margin-top: 61px;
}

.image {
  margin-bottom: 38px;
  width: 75%;
}

.ResourcesBlurb {
  color: white;
  font-size: 1.4em;
  font-family: Roboto;
  font-weight: 400;
  vertical-align: top;
  line-height: 32px;
}

.ResourcesDivider {
  background-color: white;
  height: 5px;
  margin-left: 90px;
  margin-right: 90px;
}

.ResourcesHeader {
  display: flex;
  padding-top: 61px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between;
  margin-right: 90px;
}

.ResourcesLayout {
  display: flex;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
}

.PageTitle {
  display: flexbox;
  align-content: space-between;
}

@media (max-width: 560px) {
  .ResourcesLayout {
    display: flex;
    flex-direction: column-reverse;
  }

  .ResourceBlock {
    display: flexbox;
    justify-items: center;
    margin-top: 40px;
  }

  .image {
    margin-bottom: 20px;
    width: 100%;
  }

  .ResourceSection {
    height: 1300px;
    background-color: #691BC0;
    display: block;
    align-content: center;
  }

  .ResourcesHeader {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    align-items: center;
    align-self: center;
  }

  .ResourcesBlurb {
    color: white;
    font-size: 1.4em;
    font-family: Roboto;
    font-weight: 400;
    vertical-align: top;
    line-height: 32px;
    margin: auto
  }

  .ResourcesBlurb {
    color: white;
    font-size: 1.4em;
    font-family: Roboto;
    font-weight: 400;
    margin-left: 90px;
    display: block;
    align-content: center;
    line-height: 32px;
  }
}