@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;700&display=swap');

.ResourceSection {
  background-color: #691BC0;
  color: white;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 6rem 6rem 6rem;

  .ResourcesHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .PageTitle {
      display: flex;
      align-items: space-between;
      font-weight: 700;
      font-size: 2rem;
      font-style: italic;

      .arrow {
        color: #d2afff;
        font-family: Roboto;
      }

      .text {
        font-family: Poppins;
      }
    }

    .ResourcesBlurb {
      font-size: 1rem;
      font-family: Roboto;
      font-weight: 400;
      vertical-align: top;
      line-height: 32px;
    }
  }

  .ResourcesDivider {
    background-color: white;
    height: 5px;
  }

  .ResourcesLayout {
    display: flex;
    justify-content: space-between;
  }
}

.ResourceBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  .image {
    width: 75%;
  }
}

@media (max-width: 560px) {
  .ResourceBlock {
    .image {
      width: 100%;
    }
  }

  .ResourceSection {
    flex-direction: column;

    .ResourcesHeader {
      flex-direction: column;
      gap: 1rem;
    }

    .ResourcesLayout {
      flex-direction: column;
      gap: 4rem;
    }
  }
}