@import './../../styles/constants.less';

.main-body {
    margin: 0 15%;


    @media screen and (max-width: @tablet) {
        margin: 0 8%;

    }

    @media screen and (max-width: @mobile) {
        margin: 0 3%;

    }
}

.landing-page__container {
    margin-bottom: 130px;
    h1 {
        margin-bottom: 2rem !important;
    }
    
}

#sponsorships {
    margin-bottom: 100px;
}


.more-resources-button {
    display:block;
    width: 100%;
    text-align: right;
    padding-right: 2rem;
    color: light-dark(@mid-purple, white);
    text-decoration: none;
    margin-top: -2.5rem;
    font-size: 23px;

    &:hover {
        text-decoration: underline;
        color: @dark-purple;
    }
}
