html {
  font-size: 18px;
}

/* Only style the .sum-game container */
.sum-game.theme-blue {
    background-color: #e0f8ff;   /* light blue */
    color: #004c99;              /* dark blue text */
  }
  
  .sum-game.theme-red {
    background-color: #ffe0e0;   /* light red */
    color: #990000;              /* dark red text */
  }
  