@import '../../styles/constants.less';

.sponsorship-section > p {
  margin-bottom: 1.5rem;
  width: 100%; // for some reason this fixes the text
  text-align: left;
  padding-bottom: 1.5rem;
  font-size: 28px;
}

.sponsorship-section__logos {
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 4rem;
  padding-top: 20px;
}

.sponsorship-section__sponsor-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 650px) {
  .sponsorship-section__sponsor-us {
    display: block;
  }
}

svg {
  height: 20px;
  width: 20px;
}

.sponsor-button {
  margin-top: 20px;
  text-decoration: none;
  background-color: transparent;
  display: flex;
  width: 50%;
  max-width: 700px;
  min-width: fit-content;
  padding: 1%;
  color: @quantsoc-dark;
  justify-self: center;
  justify-content: center;
  font-weight: 1000;
  border: solid 3px @quantsoc-dark;
  border-radius: 10px;
  font-size: 28px;


  transition: background-color 500ms linear, color 500ms ease-out, border 500ms linear, transform 500ms ease-out;
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));

  &:hover {
    color: white;
    border: solid 3px   @dark-purple;
    filter: drop-shadow(3px 3px 10px @mid-purple);
    background-color: @dark-purple;
    transform: scale(1.05);
  }
}
