@import '../../../styles/constants.less';

.empowering-section {
    width: 100%;
    justify-items: center;
    text-align: center; /* Ensures the text is centered */
    margin: 10% 0;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(1.5px 2px 4px rgba(0, 0, 0, 0.2));

    > h1 {
        font-size: 3rem;


        &:hover{
            > .highlight-text {
                filter: drop-shadow(2px 5px 10px @quantsoc-accent-light);

            }
        }
    }
    
    
}

@media (max-width: 768px) {
    .empowering-section  {
        > h1 {
            font-size: 2rem;
        }
    }
}

.highlight-text {
    color: @dark-purple;
    filter: drop-shadow(1px 1px 3px @quantsoc-accent-light);
    transition: filter 500ms ease-in-out;

}

.membership-counter {
    // font-size: 2.5rem !important;
    transition: color 2s;
}

