@import "../../styles/constants.less";
@import "../../styles/global.less";


nav {
  display: flex;
  background-color: @quantsoc-light;
  justify-content: space-between;
  padding: 20px 40px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add this line for drop shadow */
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 46px;

  .menu-item {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}

.hidden {
  display: none;
}

.menu.hidden {
  display: flex;
}

.menu-item:hover {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
}

@media screen and (max-width: 1100px) {
  nav {
    padding: 10px 0;
  }
  .menu.hidden {
    display: none;
  }
}
