@import '../../styles/constants.less';


.article-card__container {
    background-color: light-dark(rgb(250, 250, 250), @blacker-purple);
    // filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    // box-shadow: 0px 0px 0.5px rgba(0, 0, 0, 0.15);
    width: 360px;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
    border-left: 0px solid transparent; // Explicitly set initial border-left

    display: flex;
    justify-content: space-between;

    text-decoration: none;
    color: inherit;

    transition: border-left 0.5s ease, transform 0.5s ease;

    h6 {
      color: darkslategray;
    }

    &:hover {
      border-left: 5px solid @dark-purple;
      text-decoration: underline;
      color: @dark-purple;
      transform: scale(1.02);

      .article-card__date {
        color: inherit;
      }
    }

    .article-card-extern-link {
      // background: blue;
      display: block;
      text-align: right;
      // visibility: hidden;
    }

    .article-card__heading {
      font-weight: 500;
    }

    .article-card__date {
      color: gray;
    }

  }


