@import 'styles/constants.less';


.article-card__container {
    background-color: #fafafa;
    filter: drop-shadow(0px 0.5px 0.5px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.15);
    width: 360px;
    padding: 0.5rem 1rem;
    padding-bottom: 1rem;
  }

.article-card__author {
  padding: 0.5rem 0rem;
}

.article-card__heading {
  padding: 0.5rem 0rem;
}

.article-card__sample {
  padding: 0.5rem 0rem;
  color:rgba(0, 0, 0, 0.5)
}

.article-card__read-button {
  width:100%;
  border: none;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease, color 0.3s ease, text-decoration 0.3s ease; /* Add a smooth transition effect */
  color: lightgray;
  text-align: right;

  &:hover {
    color: gray;
    text-decoration: underline;
  }

  .article-card__container:hover & {
    opacity: 1;
  }
}

