@import '../../../styles/constants.less';

.background-container {

  width: auto;
  height: 100dvh;
  background-image: url(../../../assets/quantsoc-graphics/new-hero-optimised.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  // background-attachment: fixed; /* Add this property for the parallax effect */
  
}

/* Assuming your logo component has a class name "quantsoc-logo" */
.quantsoc-logo {
  transform: scale(5); /* No scaling is needed if you set width and height to 25% */
}


.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.large-text {
  font-size: 6vw; /* Scales text to 50% of the screen width */
  font-family: Poppins, sans-serif;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
}

.large-text.fade-in {
  opacity: 1;
}