@import 'styles/global.less';
@import 'styles/constants.less';

.page {
    width: 100%;
    height: 1000pt;
    border-color: white;
    border-width: 3pt;
    background-color: white;
    padding: 30px;
}

.game-component {
    height: 800px;
    background-color: blue;
    padding: 0 auto 0;
}

.grid-container {
    display: grid;
    border-collapse: collapse;
}

.grid-cell {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border: 1px solid black; 
    margin: 0;
    padding: 0;
}



.grid-unit {
    height: 30px;
    width: 30px;
    border-color: black;
    border-style: solid;
}

.pentominoes-container {
    background-color: gray;
    height: 300px;
    margin-top: 30px;
}

.pentominoes-card {
    background-color: white;
    display: flex;
    height: 200px;
    width: 200px;
}
