@import 'styles/constants.less';

.overlay {
  background-color: #41414188;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.modal-container {
  min-height: 500px;
  min-width: 800px;
  max-height: 96vh;
  max-width: 900px;
  flex-shrink: 0;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1.75em 2.5rem 2.5rem;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 1.25rem;
}

.tag {
  display: flex;
  color: @quantsoc-accent;
  .tag-icon {
    margin-right: 0.5rem;
  }

  .tag-text {
    font-family: Poppins;
    font-size: 20px;
  }
}

.modal-header {
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-modal__image {
  max-width: 75%;
  border-radius: 8px;
  margin-bottom: 1rem;
  object-fit: contain;
}

.modal-body {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  p {
    font-size: 16px;
    font-weight: 300;
    margin: 0.5rem 0;
  }
}

.scroll-indicator::after {
  animation: bounce 0.75s ease infinite;
  bottom: 0.65rem;
  color: #000;
  content: '╲╱';
  font-size: 0.5rem;
  height: 1rem;
  left: calc(50%-3rem);
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 6rem;
  transition: opacity 0.3s ease;
}

.scroll-indicator.active::after {
  opacity: 1;
}

@keyframes bounce {
  50% {
    transform: translateY(-40%);
  }
}

@media screen and (max-width: 1200px) {
  .modal-container {
    width: 60vw;
  }
}
@media screen and (max-width: 900px) {
  .modal-container {
    width: 85vw;
    padding: 1rem 2rem 2.5rem;
  }
}
@media screen and (max-width: 400px) {
  .modal-container {
    width: 95vw;
    padding: 1rem 2rem 2.5rem;
  }
}
