@import '../../../styles/constants.less';

.events-container {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    width: 100%;
    justify-content: space-between;
    vertical-align: center;
    
    @media screen and (max-width: @tablet) {
        justify-self: left;
        flex-wrap: wrap;

    }
}

.events-section__header {
    margin-bottom: 1.5rem;
}

.events-item {
    width: 50%;

    @media screen and (max-width: @tablet) {
        min-width: 100%;
    }
    
}

.events-text-container {
    width: 60%;

    height:fit-content;
    > p {
        font-size: 28px;
    }
}


.events-embed {
    width:340px;
    height: 500px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 2px @mid-purple);
    @media screen and (max-width: @tablet) {
        margin-top: 1rem;
    }
    margin: 0 auto;

    transition: transform 200ms ease-out, filter 400ms ease-out;

    @media screen and (min-width: @tablet) {
        &:hover {
            transform: scale(1.1);
            filter: drop-shadow(0px 0px 20px @mid-purple);

        }
    }
}

.events-embed-container {
    position: relative;
    margin-top: 2rem;
    width: 40%;
    display: flex;
    justify-content: center; // Centers the iframe horizontally
    align-items: center; // Centers it vertically (if needed)
  
    height: 500px; // Match the iframe height

    &::before {
      content: '';
      position: absolute;
      top: 5px; 
      left: 5px; 
      width: 340px; 
      height: 500px; 
      background: linear-gradient(45deg, @dark-purple, @mid-purple);
      z-index: -1;
      transform: rotate(5deg) translateX(6%); 
      border-radius: 10px; 
      left: 50%; // Align the background to the center horizontally
      margin-left: -170px; // Offset by half of the background width (340px / 2)
      overflow-x: hidden;

    //   filter: drop-shadow(0px 0px 5px @mid-purple);

      @media screen and (max-width: @mobile) {
        display: none;
      }
    }

    &::after {
        content: '';
        position: absolute;
        top: 15px;  // Slightly offset from ::before
        left: 50%;
        width: 320px; // Slightly smaller width than ::before
        height: 480px; // Slightly smaller height than ::before
        background: linear-gradient(45deg, @darkest-purple, @dark-purple);
        z-index: -2; // Places it behind ::before
        transform: rotate(10deg) translateX(15%);
        border-radius: 10px;
        margin-left: -160px; // Offset to match centering
        // filter: drop-shadow(0px 0px 5px @darkest-purple);
  
        @media screen and (max-width: 700px) {
          display: none;
        }
      }
}

.float-right {
    position: absolute;
    transform: translateY(140px) translateX(230px);
    font-size: 50px;
    font-weight: 800;
    color: @dark-purple;  // Text color
    cursor:default;
    display: none;

    @media screen and (max-width: 600px) {
        display: none;
    }
}
