@import "global.scss";

.SplashSection {
  display: flex;

  .quantsoc-icon-div {
    max-width: 65%;
  }

  .quantsoc-info {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .quantsoc-name {
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    color: rgba(64, 21, 112, 1);
    margin: 10px;
  }

  .quantsoc-description {
    font-size: 1rem;
    color: rgba(25, 4, 49, 1);
    text-align: left;
    margin: 10px;
    margin-bottom: 100px;
    width: 30%;
  }

  .join-us-div {
    text-align: right;
    margin: 10px;
    width: 40%;

    .join-us-button {
      padding: 20px 25px;
      background-color: rgba(130, 52, 218, 1);
      color: white;
      text-align: center;
      font-size: 1rem;      
    }
  }
}