.splash-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.splash-header {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(64, 21, 112, 1);
  margin-bottom: 100px;
  display: flex;

  .unsw {
    margin-right: 1rem;
  }
}

.splash-blurb {
  font-size: 1rem;
  color: rgba(25, 4, 49, 1);
  max-width: 35%;
  margin-bottom: 100px;
  text-align: left;
}

.splash-button {
  color: white;
  background-color: rgba(130, 52, 218, 1);
  font-size: 1rem;
  display: inline-block;
  padding: 10px;
  width: 15%;
  border: none;
  margin-left: 240px;
}

.splash-icon {
  width: 40%;
  .icon {
    max-width: 100%;
  }
}

.splash-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

@media screen and (max-width: 700px) {
  .splash-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .splash-header {
    font-size: 50px;
    font-weight: bold;
    color: rgba(64, 21, 112, 1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    order: 1;
    align-items: flex-end;
    margin-right: 40px;
  
    .unsw {
      margin-right: 0rem;
    }
  }
  
  .splash-button {
    color: white;
    background-color: rgba(130, 52, 218, 1);
    font-size: 27px;
    display: inline-block;
    padding: 10px;
    width: 203px;
    border: none;
    margin-left: -60px;
    order: 2;
  }

  .splash-blurb {
    font-size: 27px;
    color: rgba(25, 4, 49, 1);
    max-width: 400px;
    text-align: left;
    margin-top: 40px;
    margin-left: -190px;
    padding: 30px;
    order: 3;
  }
  
  .splash-icon {
    width: 90%;
    margin-left: -100px;
    .icon {
      max-width: 100%;
    }
  }
  
  .splash-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
  }
}