@import '../../styles/constants.less';

#games-hero-section {
  background-image: url("../../assets/quantsoc-graphics/resource-hero.svg") !important;

  @media screen and (max-width: @tablet) {
    padding: 0 15% !important;
    background: unset !important;
  }

  @media screen and (max-width: @mobile) {
    padding: 0 3% !important;

  }
}
