@import 'styles/global.less';
@import 'styles/constants.less';

.redirect-button {
  background-color: @quantsoc-darker !important;
  color: @quantsoc-light !important;
  border-radius: 6px !important;
  border-style: none;
  box-sizing: border-box;
  display: inline-block;
  width: fit-content;
  min-width: 120px;
  height: 45px;
  text-wrap: nowrap;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 400 ! important;
  margin: 1rem 0rem !important;
  &:hover {
    background-color: @quantsoc-accent !important;
  }
}


@media screen and (max-width: @mobile) {
  .redirect-button {
    color: #000;  // ios defaults to blue text
    font-size: 0.8rem;
    height: 35px;
  }
}
